<template class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
    <div class="mdl-card__supporting-text">Todo item</div>
    <div class="mdl-card__title">
        <h2 show.bind="!isEditing" dblclick.delegate="setEditing()" mdl-tooltip="text: double click to edit" class="mdl-card__title-text" css="text-decoration: ${todo.done ? 'line-through' : ''}">${todo.title}</h2>
        <input ref="input" show.bind="isEditing" value.bind="todo.title" blur.trigger="finishEditing()" change.trigger="finishEditing()" />
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <mdl-checkbox mdl-tooltip="text: set done" checked.bind="todo.done">is done</mdl-checkbox>
        <mdl-radio name="priority-${id}" value="low" checked.bind="todo.priority">low prio</mdl-radio>
        <mdl-radio name="priority-${id}" value="med" checked.bind="todo.priority">med prio</mdl-radio>
        <mdl-radio name="priority-${id}" value="high" checked.bind="todo.priority">high prio</mdl-radio>
    </div>
</template>
